$container: 1440px;
$padding: 25px;

@function half-height( $first , $second )
{
	@return $container / $first - $padding / $second; 
}

.half1{

	height: half-height(2,3);

}
.half2{

	height: half-height(2,2);
}